.ul1 li:nth-child(3) a{
    background-color: transparent;
    color: #D51900;
}

.nav1{
    background-image: url('beside-the-eiffel-tower-and-in-the-gardens-of-versailles-explore-the-temporary-structures-of-the-paris-2024-olympics_17.jpg');
  
    
}